/* font */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700;800&display=swap');
/* primary elements */
*{
    font-family: 'Mulish', sans-serif;
    margin: 0;
    padding: 0;
}