/* font import*/
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700;800&display=swap');

/* primary elements */
* {
    font-family: 'Mulish', sans-serif;
    margin: 0;
    padding: 0;
}

/*  header*/

header {
    padding: 50px 90px 50px 135px;

}

.orange {
    color: #FF5400;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#logo {
    display: flex;
    align-items: center;
}

#logo h3 {
    font-size: 2.25rem;
    font-weight: 800;
}

nav ul {
    display: flex;

}

nav li {
    list-style: none;
    margin-right: 40px;
    font-size: 1.2rem;
    font-weight: 400;
}

nav li a {
    text-decoration: none;
    color: #424247;
    text-align: center;
}

main {
    max-width: 81.25%;

    margin: 0 auto;
}

.banner-content {
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%) ,url(../Images/Banner.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 500px;
    background-size: cover;
    text-align: center;
    border-radius: 16px;
    width: 100%;

}

.banner-content h1 {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    padding-top: 106px;
}

.banner-content p {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-top: 24px;
    width: 676px;
    margin: 0 auto;
}

.banner-content input,
select {
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
    background-color: #FFF;
    border: none;
    border-radius: 8px;
    width: 150px;
    padding: 16px;
    margin-right: 24px;

}

.search-bar {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    width: 800px;
    margin: 0 auto;
    margin-top: 48px;
    padding: 16px;
}

.banner-content button {
    color: #FFF;
    text-align: center;
    background-color: #FF5400;
    font-size: 16px;
    border-radius: 8px;
    font-weight: 700;
    border: none;
    padding: 16px;
    width: 150px;

}

.popular {

    height: 550px;
    display: flex;
    width: 100%;
    margin: 100px auto;

}

.popular-content {
    width: 50%;
    height: 100%;


}

.popular-image {
    width: 50%;

}

.section-title {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.list li {
    margin-bottom: 24px;
    margin-left: 20px;
    width: 500px;
}

.para,
.list {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 24px;
}

.btn-primary {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    border-radius: 8px;
    background: #FF5400;
    padding: 14px 35px;
    border: none;

}

.popular-image img {

    height: 100%;
    width: 90%;
    margin-left: 10%;
}

.dest-content {
    margin-bottom: 24px;
}

.dest-content h2,
p {
    text-align: center
}

.first-row {
    display: flex;
    width: 100%;
    gap: 24px;
    margin-bottom: 24px;
}

.first-row div {
    width: 50%;

}

.first-row div img {
    width: 100%;
    height: 100%;
    position: relative;
}

.image {
    position: relative;
    text-align: center;
    color: white;
    font-size: 28px;
    font-weight: 800;

}

.name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.second-row {
    display: grid;
    grid-template-columns: 31% 40.5% auto;
    width: 100%;
    gap: 24px;
    margin-bottom: 24px;
}

.second-row div img {

    width: 100%;
    height: 100%;
}


.third-row {
    display: grid;
    grid-template-columns: 40.5% auto;
    width: 100%;
    gap: 24px;
    margin-bottom: 100px;
}

.third-row div img {

    width: 100%;
    height: 100%;
}

.choose-content h2,
p {
    text-align: center
}

.choose-content {

    margin-bottom: 24px;
}

.card {

    width: 49%;
    height: 284px;
    padding: 32px;
}

.card p {
    text-align: left;
    margin-top: 16px;
}

.card h4 {
    margin-top: 32px;
}

.card-title {
    color: #131318;


    font-size: 24px;

    font-weight: 800;

}

.first-row-card {
    display: flex;
    /* justify-content: space-between; */
    gap: 24px;
    margin-bottom: 24px;
}

.first-card {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.second-card {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.third-card {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    margin: 0 auto;
}

.unique {


    margin-top: 100px;
}

.unique-content {

    text-align: center;
}

.unique-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.first-unique-card img {
    width: 100%;
    border-radius: 20px;
}

.second-unique-card img {
    width: 100%;
    border-radius: 20px;
}

.third-unique-card img {
    width: 100%;
    border-radius: 20px;
}

.unique-card p,
h4 {
    text-align: left;
    margin-top: 20px;
}

.unique-button {
    border: none;
    color: #FF5400;
    background-color: #FFF;
    font-size: 20px;
    font-weight: 800;

}

.news-letter {

    margin-top: 100px;
    display: flex;
    height: 422px;
    width: 100%;
    justify-content: space-between;
}

.news-letter-form {
    width: 40.5%;
    border-radius: 16px;
    border: 1px solid #FF5400;
}

.news-letter-image {
    width: 57.5%;

}

.news-letter-image img {
    width: 100%;
    height: 100%;

}

.news-letter-form input {
    display: block;
    width: 65%;
    margin: 0 auto;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: none;
    padding: 16px;
    margin-bottom: 16px;
}


.news-letter-form button {
    display: block;
    width: 70%;
    margin: 24px auto;
}



.news-letter-form p,
h4 {
    margin-top: 40px;

}

.news-letter-form p,
h4 {
    text-align: left;
    padding-left: 40px;
    margin-bottom: 16px;

}

.news-letter-image {
    position: relative;
}

.save-tag {
    border-radius: 16px;
    background-color: #FF5400;
    color: #FFF;
    text-align: center;
    width: 250px;
    padding: 20px 0px;
    position: absolute;
    right: 1%;
    bottom: 13%;
    transform: rotate(-30deg);

}


footer {
    align-items: center;
    background: rgba(19, 19, 24, 0.05);
    height: 502px;
    margin-top: 100px;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 110px;
}

.footer-logo h3 {


    font-size: 32px;

    font-weight: 800;

}

.footer-para {
    margin-top: 20px;
}

.social-links {
    margin: 30px 15px;
    display: flex;
    justify-content: center;
}

.social-links a {

    margin-right: 15px;
    text-decoration: none;
    color: #131318;

}